/*CABEÇALHO*/

.cabecalho {
    border-bottom: 0.2px solid orange;
}

.logo {
    display: block;
    margin: 10px auto;
    width: 50%;
}

/*TÍTULO*/
.titulo__principal {
    text-align: center;
}

/*PRIMEIRO Texto*/
.texto__principal {
    text-align: justify;
    margin: 1em;
}

/*Texto de Atualização*/
.texto__secundario {
    text-align: center;
}

/*Titulo Login*/
.login__titulo,
.cadastro {
    text-align: center;
    font-size: 1em;
    font-weight: 400;
}

/*formulário*/
.login__form {
    margin: 0 10%;
}

.login__rotulo {
    font-weight: 700;
    text-align: left;
}

.login__rotulo_conectado {
    font-weight: 400;
    font-size: 0.7em;
}

.login__input {
    width: 100%;
    margin: 1em 0;
    border: 0.5px solid #ff7312;
    border-radius: 10px;
    padding: 5px;
}

.login__adicionais {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.login__link-forget {
    font-size: 0.7em;
}

a {
    text-decoration: none;
    color: #ff7312;
    font-weight: bold;
}

.login {
    margin: 5%;
    border: 1px solid transparent;
    background-color: antiquewhite;
    border-radius: 10px;
}

.login__enviar {
    margin: 1.5em 0;
    background-color: #ff7312;
    border: 1px solid orange;
    border-radius: 10px;
    width: 100%;
    padding: 1em 0.3em;
    color: aliceblue;
    font-weight: 600;
}

.login__enviar:hover {
    background-color: orangered;
    color: white;
}

/*RESPONSIVIDADE PARA TABLETS*/
@media screen and (min-width:1024px) {
    .principal {
        display: flex;
        justify-content: space-between;
    }

    .logo {
        display: block;
        margin: 10px auto;
        width: 20%;
    }

    .texto{
        display: block;
        margin: 10% auto 0 30px;
        width: 50%;
    }

    .login {
        width: 40%;
        margin-top: 1.5em;
    }

}

/*RESPONSIVIDADE PARA DESKTOPS*/
@media screen and (min-width:1728px) {
    .texto {
        margin-top: 8%;
    }
}